@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

:root {
  --background: #1B3C53;
  --foreground: #D2C1B6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary-1: #D2C1B6;
  --color-primary-2: #456882;
  --color-primary-3: #234C6A;
  --color-primary-4: #1B3C53;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes run {
  0% {
    transform: translate(-70px, -40px);
  }

  100% {
    transform: translate(-770px, -40px);
  }
}

.animate-run {
  animation: run 1s steps(5) infinite;
}